BasedOnStyle: LLVM
Language: Cpp
# ---
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortLambdasOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: WebKit
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Left
