[submodule "external/alembic"]
	path = external/alembic
	url = https://github.com/alembic/alembic.git
[submodule "external/timer"]
	path = external/timer
	url = https://github.com/yuki-koyama/timer.git
[submodule "external/parallel-util"]
	path = external/parallel-util
	url = https://github.com/yuki-koyama/parallel-util.git
